<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>XXX的小店</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./static/css/main.css">
</head>
<body ng-app="NetShop">
	<div class="viewport" ng-cloak>
		<!-- 侧边导航 -->
		<div id="navs" ng-class="{navs: true, collapse: collapsed}" ng-controller="NavController">
			<dl>
				<dt class="login" ng-click="login()">
					<div class="avatar">
						<a ng-class={'icon-user':true,'icon-user-loged':loged}></a>
					</div>
					<span >{{loged?username:'登录'}}</span>
				</dt>
				<dd  ng-class="{active: categoryType == categoryList.categoryType}" ng-repeat="categoryList in categoryLists">
					<a ng-click="byCategory(categoryList.categoryType)" class="{{iconList[$index]}}">
						<span>{{categoryList.categoryName}}</span>
					</a>
				</dd>
				<dd>
					<a  ng-click="loged?userLogout():''" class="icon-bin">
						<span>用户注销</span>
					</a>
				</dd>
			</dl>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header: true, collapse: collapsed}">
				<h2>{{title}}</h2>
				<a  ng-click="toggle()" class="menu icon-menu"></a>
				<ul class="headerNavs">
					<!--<li><a class="icon-search"></a></li>-->
					<li ng-class="{cart:cartNotEmp}"><a class="icon-cart " ng-href="#/cartList"><span ng-show="cartNotEmp" ng-class="{changed:cartChaged}">{{cartNum}}</span></a></li>
				</ul>
				<!--<a class="search icon-search"></a>-->
			</div>
			<!-- 主体 -->
			<div ng-class="{body: true, collapse: collapsed}">
				<!--<div loading class="loading" ng-hide="loaded" src="../../static/images/loading.gif"></div>-->
				<!-- 占位符 -->
				<div ng-view></div>
			</div>
		</div>
		<div ng-show="showDialogue" ng-class="{dialogue:true}">
			<!--登录页弹窗-->
			<div ng-show="showUserLogin" ng-class="{userLogin:true}"  ng-controller="loginController" ng-include="'./templates/login.html'"></div>
			<!--注册页弹窗-->
			<div ng-show="showRegister" ng-class="{userRegister:true}" ng-controller="registerController" ng-include="'./templates/register.html'"></div>
		</div>
	</div>
	<script src="./static/libs/jquery-252b0b512a.js"></script>
	<script src="./static/libs/angular-7d432c4a3e.js"></script>
	<script src="./scripts/main-b00cc8d00b.js"></script>
</body>
</html>