<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name=”viewport” content=”width=device-width;initial-scale=1.0;user-scalable=no;minimum-scale=1.0;maximum-scale=1.0″>
	<title>GoodGoods</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<!--<link rel="stylesheet" href="static/less/main.less">-->
	<link rel="stylesheet" href="./static/css/main-1daab4932b.css">
</head>
<body ng-app="NetShop">
	<div class="viewport" ng-cloak>
		<!-- 侧边导航 -->
		<div id="navs" ng-class="{navs: true, collapse: collapsed}" ng-controller="NavController">
			<div class="navLists">
				<dl class="dl-header login" ng-click="login()" ng-cloak>
					<dd class="avatar" ng-class="{'icon-user-loged':loged}">
						<a ng-class={'icon-user':true}>
							<span ng-cloak="">{{loged?username:'登录'}}</span>
						</a>
					</dd>
				</dl>
				<dl class="dl-context">
					<dd ng-cloak  ng-class="{active: categoryType == categoryList.categoryType}" ng-repeat="categoryList in categoryLists track by $index">
						<a ng-click="byCategory(categoryList.categoryType)" class="icon-circle-right">
							<span>{{categoryList.categoryName}}</span>
						</a>
					</dd>
				</dl>
				<dl class="dl-footer" ng-cloak>
					<dd ng-cloak  ng-class="{active: categoryType == 'order'}" >
						<a ng-click="byCategory('order')" class="icon-heart-fill">
							<span>我的订单</span>
						</a>
					</dd>
					<dd ng-cloak  ng-class="{active: categoryType == 'setting'}" >
						<a ng-click="byCategory('setting')" class="icon-cog">
							<span>用户设置</span>
						</a>
					</dd>
					<dd ng-cloak  ng-class="{active: categoryType == 'contactUs'}" >
						<a ng-click="byCategory('contactUs')" class="icon-point-right">
							<span>联系我们</span>
						</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header: true, collapse: collapsed}">
				<h2 ng-cloak>{{title}}</h2>
				<a  ng-click="toggle()" class="menu icon-menu"></a>
				<ul class="headerNavs">
					<!--<li><a class="icon-search"></a></li>-->
					<li ng-class="{cart:cartNotEmp}"><a class="icon-cart " ng-click="toCartList()"><span ng-show="cartNotEmp" ng-class="{changed:cartChaged}">{{cartNum}}</span></a></li>
				</ul>
				<!--<a class="search icon-search"></a>-->
			</div>
			<!-- 主体 -->
			<div ng-class="{body: true, collapse: collapsed}" ng-click="closeNav(collapsed)" nav-collapse="collapsed">
				<div loading class="loading" ng-hide="loaded" src="static/images/loading-50c5e3e79b.gif"></div>
				<!-- 占位符 -->
				<div ng-view class="view"></div>
			</div>
		</div>
		<div ng-show="showDialogue" ng-class="{dialogue:true}">
			<!--登录页弹窗-->
			<div ng-show="showUserLogin" ng-class="{userLogin:true}"  ng-controller="loginController" ng-include="'./templates/login.html'"></div>
			<!--注册页弹窗-->
			<div ng-show="showRegister" ng-class="{userRegister:true}" ng-controller="registerController" ng-include="'./templates/register.html'"></div>
		</div>
	</div>
	<script src="./static/libs/jquery-252b0b512a.js"></script>
	<script src="./static/libs/xcConfirm-6ccb214e29.js"></script>
	<script src="./static/libs/angular-7d432c4a3e.js"></script>
	<script src="./scripts/main-9b75f7421c.js"></script>
</body>
</html>