<!--全部商品-->
<div ng-show="loaded" ><!--当内容加载完毕后，loaded改为true-->
    <div class="allPro">
        <div class="allProLists">
        <ul  infinite-scroll="vm.nextPage()" infinite-scroll-disabled="vm.busy" infinite-scroll-distance="1">
            <li ng-repeat="pro in allProLists"
                ng-click="proDetail(pro.productId,vm.page,categoryType,$event)">
                    <div class="proImg">
                        <img ng-src="{{pro.productImgMd}}"  alt="{{pro.productName}}"/>
                    </div>
                    <h3 class="productName">
                        {{pro.productName}}
                    </h3>
                    <p class="productPrice"><span>{{pro.productPrice|currency:'￥'}}</span></p>
            </li>
        </ul>
    </div>
        <div class="nextLoading" ng-show="nextLoading">
        <!--<img src="./static/images/loading.gif" />-->
    </div>
        <p ng-show="isLast" class="isLast">已经是最后咯，亲</p>
    </div>
</div>