<div class="content">
    <p class="title">密码修改
        <span class="icon-x-altx-alt close-dialog" ng-click="setStatus.editPwd=false"></span>
    </p>
    <p class="text">请牢记您的新密码，如有遗忘可通过注册账户的邮箱找回！</p>
    <form role="form" novalidate name="editPwd_form">
        <table>
            <tr>
                <td>用户名：</td>
                <td>{{username}}</td>
            </tr>
            <tr>
                <td>旧密码：</td>
                <td>
                    <input type="password"
                           ng-model="oldPwd"
                           name="oldPwd"
                           required
                           ng-check
                           ng-minlength="6"
                           ng-maxlength="12"
                           ng-pattern="/^[a-zA-Z0-9]{6,12}$/"
                    />
                    <span class="delText icon-x-altx-alt info-x" ng-show="!editPwd_form.oldPwd.$error.required"
                          ng-click="oldPwd=''"></span>
                    <span class="info-x" ng-show="editPwd_form.oldPwd.$invalid&&editPwd_form.oldPwd.$error.required">*必填</span>
                    <span class="info-x" ng-show="editPwd_form.oldPwd.$invalid&&(!editPwd_form.oldPwd.$checked)&&(!editPwd_form.oldPwd.$error.required)&&editPwd_form.oldPwd.$error.pattern">格式错误</span>
                </td>
            </tr>
            <tr>
                <td>新密码：</td>
                <td>
                    <input type="password"
                           ng-model="newPwd"
                           name="newPwd"
                           required
                           ng-check
                           ng-minlength="6"
                           ng-maxlength="12"
                           ng-pattern="/^[a-zA-Z0-9]{6,12}$/"
                    />
                    <span class="delText icon-x-altx-alt info-x" ng-show="!editPwd_form.newPwd.$error.required" ng-click="newPwd=''"></span>
                    <span class="info-x" ng-show="editPwd_form.newPwd.$invalid&&editPwd_form.newPwd.$error.required">*必填</span>
                    <span class="info-x" ng-show="editPwd_form.newPwd.$invalid&&(!editPwd_form.newPwd.$checked)&&(!editPwd_form.newPwd.$error.required)&&editPwd_form.newPwd.$error.pattern">格式错误</span>
                </td>
            </tr>
            <tr>
                <td>确认密码：</td>
                <td>
                    <input type="password"
                           ng-model="repwd"
                           name="repwd"
                           ng-check
                           required
                           ensure-same/>
                    <span class="delText icon-x-altx-alt info-x" ng-show="!editPwd_form.repwd.$error.required" ng-click="repwd=''"></span>
                    <span class="info-x" ng-show="editPwd_form.repwd.$invalid&&editPwd_form.repwd.$error.required">*必填</span>
                    <span class="info-x" ng-show="editPwd_form.repwd.$invalid&&!editPwd_form.repwd.$checked&&!editPwd_form.repwd.$error.required&&editPwd_form.repwd.$error.same">密码不一致</span>
                </td>
            </tr>
        </table>
        <br>
    </form>
    <p class="text">密码必须为6-12位字母或数字</p>
    <button class="confirmEditPwd" ng-click="confirmEditPwd(editPwd_form.$invalid)">确认修改</button>
</div>