<!--用户登录页-->
<p class="dialogHead">
    登&nbsp;&nbsp;录
    <span class="icon-x-altx-alt close-dialog" ng-click="toggleDialog()"></span>
</p>
<form role="form" name="login_form" novalidate>
    <p>用户名</p>
    <div><input type="text"
                required
                name="username"
                ng-model="userLog.username"
                ng-focus
    />
        <span class="delText icon-x-altx-alt info-x" ng-show="!login_form.username.$error.required" ng-click="userLog.username=''"></span>
        <span class="info-x" ng-show="login_form.username.$invalid&&login_form.username.$error.required">*必填</span>
    </div>
    <p>密码</p>
    <div>
        <input type="password"
               required
               name="pwd"
               ng-model="userLog.password"
               ng-focus=""
        />
        <span class="delText icon-x-altx-alt info-x" ng-show="!login_form.pwd.$error.required" ng-click="userLog.password=''"></span>
        <span class="info-x" ng-show="login_form.pwd.$invalid&&login_form.pwd.$error.required">*必填</span>
    </div>
    <p class="info forgetPsd"><span ng-click="forgetDialog=!forgetDialog">忘了密码?</span></p>
    <br>
    <button type="button" ng-click="userLogin(login_form.$invalid)">登&nbsp;&nbsp;录</button>
    <hr>
    <button type="button" class="register" ng-click="register()">创建新用户</button>
</form>
<div class="forgetDialog" ng-show="forgetDialog">
    <div class="content">
        <p class="title">忘了密码？
            <span class="icon-x-altx-alt close-dialog" ng-click="forgetDialog=!forgetDialog"></span>
        </p>
        <p class="text">请输入您创建账户时所使用的电子邮箱，我们会发送给您您的密码</p>
        <p>电子邮箱</p>
        <form role="form" novalidate name="forgetDialog_form">
            <div>
                <input type="text" ng-model="userEmail"
                       ng-check
                       name="email"
                       required
                       ensure-unique="checkEmail"
                       ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/"/>
                <span class="delText icon-x-altx-alt info-x" ng-show="!forgetDialog_form.email.$error.required" ng-click="userEmail=''"></span>
                <span class="info-x" ng-show="forgetDialog_form.email.$invalid&&forgetDialog_form.email.$error.required">*必填</span>
            </div>
            <p class="info" ng-show="!forgetDialog_form.email.$checked&&!forgetDialog_form.email.$error.required&&forgetDialog_form.email.$error.pattern">
                请输入有效的邮箱地址
            </p>
            <p class="info" ng-show="!forgetDialog_form.email.$checked&&!forgetDialog_form.email.$error.required&&(!forgetDialog_form.email.$error.pattern)&&(!forgetDialog_form.email.$error.unique)">
                该邮箱未注册
            </p>
            <br>
            <button class="sendEmail" type="button" ng-click="sendEmail(forgetDialog_form.$invalid&&(!forgetDialog_form.email.$error.unique))">发送邮件</button>
        </form>
    </div>
</div>
