<!--用户登录页-->
<p class="dialogHead">
    登&nbsp;&nbsp;录
    <span class="icon-x-altx-alt close-dialog" ng-click="toggleDialog()"></span>
</p>
<form role="form" name="login_form" novalidate>
    <p>用户名</p>
    <div><input type="text"
                required
                name="username"
                ng-model="userLog.username"
                ng-focus
    />
        <span class="delText icon-x-altx-alt info-x" ng-show="!login_form.username.$error.required" ng-click="userLog.username=''"></span>
        <span class="info-x" ng-show="login_form.username.$invalid&&login_form.username.$error.required">*必填</span>
    </div>
    <p>密码</p>
    <div>
        <input type="password"
               required
               name="pwd"
               ng-model="userLog.password"
               ng-focus=""
        />
        <span class="delText icon-x-altx-alt info-x" ng-show="!login_form.pwd.$error.required" ng-click="userLog.password=''"></span>
        <span class="info-x" ng-show="login_form.pwd.$invalid&&login_form.pwd.$error.required">*必填</span>
    </div>
    <!--<a ng-hide="true" ng-click="forgetPwd()"><span>忘记密码?</span></a>-->

    <br>
    <button type="button" ng-click="userLogin(login_form.$invalid)">登&nbsp;&nbsp;录</button>
    <hr>
    <button type="button" class="register" ng-click="register()">创建新用户</button>
</form>
