<!--註冊新用戶-->
    <p class="dialogHead">
        <span>新用户注册</span>
        <span class="icon-x-altx-alt close-dialog" ng-click="closeDialog()"></span>
    </p>
    <form role="form" novalidate name="register_form" ng-submit="userRegister()" >
        <p>用户名</p>
        <div>
            <input type="text"
                   ng-model="username"
                   name="username"
                   ng-minlength="6"
                   ng-maxlength="12"
                   required
                   ng-check
                   ensure-unique="checkUsername"
                   ng-pattern="/^[a-zA-Z]{6,12}$/"
                   placeholder="6-12位英文"/>
        </div>
        <p class="info" ng-show="register_form.username.$dirty&&register_form.username.$invalid&&!register_form.username.$checked">
            <small ng-show="register_form.username.$error.required">用户名不能为空</small>
            <small ng-show="register_form.username.$error.pattern">用户名格式错误</small>
            <small ng-show="register_form.username.$error.minlength">不得少于6位</small>
            <small ng-show="register_form.username.$error.maxlength">不得多于6位</small>
            <small ng-show="register_form.username.$error.unique">该用户已存在</small>
        </p>
        <p>密码</p>
        <div>
            <input type="password"
                   ng-model="pwd"
                   name="pwd"
                   required
                   ng-check
                   ng-minlength="6"
                   ng-maxlength="12"
                   ng-pattern="/^[a-zA-Z0-9]{6,12}$/"
                   placeholder="6-12位英文或数字"
            />
        </div>
        <p class="info" ng-show="register_form.pwd.$dirty&&register_form.pwd.$invalid&&!register_form.pwd.$checked">
            <small ng-show="register_form.pwd.$error.required">密码不能为空</small>
            <small ng-show="register_form.pwd.$error.pattern">密码格式错误</small>
            <small ng-show="register_form.pwd.$error.minlength">不得少于6位</small>
            <small ng-show="register_form.pwd.$error.maxlength">不得多于12位</small>
        </p>
        <p>确认密码</p>
        <div>
            <input type="password"
                   placeholder="确认密码"
                   ng-model="repwd"
                   name="repwd"
                   ng-check
                   required
                   ensure-same
            />

        </div>
        <p class="info" ng-show="register_form.repwd.$dirty&&register_form.repwd.$invalid&&!register_form.repwd.$checked">
            <small ng-show="register_form.repwd.$error.required">不能为空</small>
            <small ng-show="register_form.repwd.$error.same">密码不一致</small>
        </p>
        <p>手机号码</p>
        <div>
            <input type="text" ng-model="phone"
                   name="phone"
                   ng-check
                   required
                   ng-pattern="/^(1[3456789]\d{9})$/"
            />
        </div>
        <p class="info" ng-show="register_form.phone.$dirty&&register_form.phone.$invalid&&!register_form.phone.$checked">
            <small ng-show="register_form.phone.$error.required">手机号不能为空</small>
            <small ng-show="register_form.phone.$error.pattern">请输入有效的手机号</small>
        </p>
        <p>电子邮箱</p>
        <div>
            <input type="text" ng-model="email" placeholder="用于找回密码"
                   ng-check
                   name="email"
                   required
                   ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/"
                   ensure-unique="checkEmail"
            />
        </div>
        <p class="info" ng-show="register_form.email.$dirty&&register_form.email.$invalid&&!register_form.email.$checked">
            <small ng-show="register_form.email.$error.required">不能为空</small>
            <small ng-show="register_form.email.$error.pattern">请输入有效的邮箱地址</small>
            <small ng-show="register_form.email.$error.unique">该邮箱已注册</small>
        </p>
        <br>
        <button type="submit" ng-disabled="register_form.$invalid">注&nbsp;&nbsp;册</button>
    </form>
