<!--用户订单页-->
<div ng-show="loaded"><!--当内容加载完毕后，loaded改为true-->
    <div class="orderList">
        <div class="orderAll">
            <div class="orderLists">
                <ul class="orderList" infinite-scroll="vm.nextPage()" infinite-scroll-disabled="vm.busy" infinite-scroll-distance="2">
                    <!--状态为6时，不显示该订单-->
                    <li  ng-repeat="orderList in orderLists track by $index" ng-show="orderList.orderStatus!=6">
                        <ul class="orderLi" ng-click="orderDetail($index)">
                            <div class="orderLi-t">
                                <span class="orderDate">{{orderList.createTime|date:"yyyy-MM-dd"}}</span>
                                <span class="orderSta" order-status="orderList.orderStatus">{{orderList.orderStatus}}</span>
                            </div>
                            <li ng-repeat="orderDetail in orderList.orderDetailList" class="orderLiDetail">
                                <div class="proImg"><img ng-src="{{orderDetail.productImgMd}}"></div>
                                <div class="order-proDetail">
                                    <p class="proName">{{orderDetail.productName}}</p>
                                    <p class="proInfo">{{orderDetail.productColor}}&nbsp;{{orderDetail.productSize}}</p>
                                    <span class="proPrice">{{orderDetail.productPrice|currency:'￥'}}</span>
                                    <div class="proNum">
                                        x{{orderDetail.productQuantity}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="orderLi-info">
                            <span class="proNum">共{{orderList.orderDetailList.length}}件商品</span>
                            <div class="total">
                                <p>合计：<span>{{orderList.orderAmount|currency:'￥'}}</span></p>
                                <p class="actualAmount">实付：<span>{{orderList.orderActualAmount|currency:'￥'}}</span></p>
                            </div>
                        </div>
                        <div class="orderBtn">
                            <button ng-show="orderList.orderStatus==1||orderList.orderStatus==2" ng-click="delOrder($index)">删除订单</button>
                            <button ng-show="orderList.orderStatus==0" ng-click="cancelOrder($index)">取消订单</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info">
            <p ng-show="isLast">已经到底了呦！</p>
            <p ng-show="orderLists.length==0&&nextloaded">这里空空如也！</p>
            <!--<img ng-src="./static/images/loading.gif" ng-show="!nextloaded"/>-->
        </div>
    </div>
</div>

